html {
  font-family: 'Bitter', serif;
  font-size: 42px;
  padding: 40px;
}

a:link {
  color: #aaaaaa
}

a:visited {
  color: #555555
}

@media (min-device-width: 500px) {
  html {
    font-size: 17px;
  }

  div.summary {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
